@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&@200;700&family=Titillium+Web:wght@400;700&display=swap");

:root {
  --primary: #f50029;
  --primary-light: #f500291e;
  --white: #ffffff;
  --primary-dark: #333333;
  --primary-dimmed: #949494;
  --secondary-dimmed: #f3f3f3;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: var(--primary);
}

/* **Fonts to be used** */
/* font-family: 'Titillium Web', sans-serif; */
/* font-family: 'Source Sans Pro', sans-serif; */

::selection {
  background-color: #00000040;
}

.navigation {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.5rem !important;
  text-decoration: none;
  font-weight: 600;
  color: var(--primary);
}

.nav-links ul {
  margin-bottom: 0rem;
}

.nav-item {
  margin-left: 0.5rem;
  text-decoration: none;
  color: var(--primary-dimmed);
  padding: 0.2rem;
}

.nav-item:hover {
  background-color: var(--primary-light);
  box-shadow: 0px 2px var(--primary);
}

.main-hero {
  background-color: var(--primary);
  color: var(--white);
  text-align: center;
  padding: 1rem 0rem;
  box-shadow: inset 0 8px 8px -8px rgb(0 0 0 / 30%),
    inset 0 -8px 8px -8px rgb(0 0 0 / 30%);
}

.main-hero h1 {
  font-family: "Titillium Web", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  text-shadow: 0 1px 3px rgb(0 0 0 / 30%);
}

.main-hero p {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.feed-link {
  text-decoration: none;
  color: var(--primary);
}

.feed-header {
  display: inline-block;

  border-bottom: 2px solid var(--primary);
  display: inline;
}

.header-username {
  display: inline-block;
}

.header-username img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.btn-logout {
  padding: 0.1rem 0.5rem;
  border: 1px solid var(--primary);
  border-radius: 25px;
  background-color: var(--primary);
  color: var(--white);
  transition: 0.3s;
}

.btn-logout:hover {
  transition: 0.3s;
  background-color: var(--white);
  color: var(--primary);
  position: relative;
}

.article-add {
  position: relative;
}

.add-article-btn {
  position: fixed;
  background-color: var(--primary);
  color: var(--white);
  font-weight: 600;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  padding-top: 0.1rem;
  padding-left: 0.1rem;
  font-size: 1.8rem;
  top: 75vh;
  right: 10px;
}

.dimmed {
  /* display: inline-block; */
  border-bottom: 2px solid var(--primary-dimmed);
  color: var(--primary-dimmed);
}

.badge {
  background-color: var(--primary-dimmed);
  font-weight: 200;
}

.badge:hover {
  background-color: var(--primary-dark);
}

.articles {
  min-height: calc(100vh - 283px);
}

.article-meta {
  border-top: 1px solid var(--primary-dimmed);
  margin-top: 0.4rem;
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
  position: relative;
}

.article-meta-img {
  border-radius: 50%;
  /* display: inline; */
  height: 40px;
  width: 40px;
}

.heart {
  position: absolute;
  right: 0;
}

.heart-badge {
  background-color: var(--primary) !important;
}

.show-more {
  width: 100%;
  text-align: center;
}

.show-more button {
  border-radius: 50px;
  border: none;
  background-color: var(--primary);
  color: var(--white);
  padding: 0.5rem 1rem;
}

.profile-details {
  /* display: inline-block; */
  padding-left: 0.5rem;
}

.profile-name {
  margin-bottom: 0;
  color: var(--primary) !important;
}

.profile-date {
  color: var(--primary-dimmed);
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 12px;
}

.article-heading {
  font-weight: 600;
  margin-bottom: 0.2rem;
  color: var(--primary-dark);
}

.article-body-limited {
  color: var(--primary-dimmed);
}

.article-more-option {
  display: flex;
  justify-content: space-between;
}

.article-more-option .badge {
  font-weight: 200;
  color: var(--primary-dimmed);
  background-color: transparent;
  border: 1px solid var(--primary-dimmed);
}
.badge {
  cursor: pointer;
}

.badge-bg-primary {
  background-color: var(--primary);
  color: var(--white);
}

/* .login-row { */
/* } */

.login,
.register {
  min-height: calc(100vh - 108px);
  /* width: 100%; */
}

.height-inherit {
  height: 100%;
}

.login-row,
.register-row {
  min-height: calc(100vh - 108px);
}

.login-bg,
.register-bg {
  min-height: 50vh;
  background-image: url(./assets/login-bg.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.login-bg {
  background-image: url(./assets/login-bg.png);
}

.register-bg {
  background-image: url(./assets/register-bg.png);
}

.login-details,
.register-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.login-details h4,
.register-details h4 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  color: var(--primary);
}

.login-details hr {
  background-color: var(--primary);
}

.login-details button,
.register-details button {
  background-color: var(--primary);
  border: none;
  border-radius: 30px;
}
.login-details button:hover,
.register-details button:hover {
  background-color: #f50029c7;
}

.login-details form,
.register-details form {
  width: 90%;
}

.article-hero {
  background-color: var(--primary-dark);
  color: var(--white);
  padding: 3rem 0rem;
}

.articleBody {
  min-height: calc(100vh - 283px);
  padding: 2rem 0rem;
}

.article-hero h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

.article-content {
  border-bottom: 2px solid var(--secondary-dimmed);
}

.comment-section {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.article-comments {
  max-width: 730px;
}

#erros {
  color: var(--primary) !important;
}

footer {
  background-color: var(--secondary-dimmed);
  /* position: absolute;
   */
}

.logo-footer {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  color: var(--primary);
  margin: 0;
}

.logo-footer span {
  font-weight: 200;
}

.thinkster {
  color: var(--primary);
}

/* Loader Start*/

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3rem 0rem;
}

.lds-ellipsis {
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--primary);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* Loader End */

/* Simple Loader */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

/* Simple Loader End */

@media (min-width: 544px) {
  .container {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .col-md-1 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-md-2 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-3 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 940px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
